.POL{
       color: rgb(247, 243, 243);
       background-color: rgb(12, 12, 12);
       box-shadow: 2px 2px 4px;
}

.titulo{
       position: absolute;
       bottom: 400px;
       text-align: center;
       font-size: 60px;
}
.texto{
       position: absolute;
       bottom: 110px;
       text-align: center;
       font-size: 50px;
}
.carousel-inner, .carousel-inner img{
       height: 1000px;
       width: 1350px;
}
.carousel-inner img{
       height: 1000px;
       width: 1350px;
}
.margem2{
       margin: 0 auto;
}